---
import '../styles/banner.scss';


---

<section class="banner">
    <div class="banner__heading-group">
        <h2 class="banner__title">
            <span class="banner__title-inspire">Floors That Inspire</span>
            <span class="banner__title-trust">Trust</span>
        </h2>
    </div>

    <div class="banner__content-group">
        <p class="banner__paragraph">
            Flawless Installation and Durable Flooring for Every Space, Residential or Commercial.
        </p>
        <div class="banner__button-wrapper">
            <button class="banner__button">
                <span class="banner__button-text">Request Your Quote</span>
            </button>
        </div>
    </div>
</section>