---
import '../styles/footer.scss';
---

<div class="footer">
    <div class="container">
    </div>
    <div class="container2">
    </div>
    <div class="container3">
        <div class="container4">
            <img class="image-7" src="image-70.png" />
            <div class="container5">
                <div class="container6">
                    <div class="container7">
                        <div class="container8">
                        </div>
                        <div class="container9">
                        </div>
                    </div>
                </div>
                <div class="paragraph">
                </div>
                <div class="link">
                    <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.333 6.6665C14.6591 6.6665 15.9309 7.19329 16.8685 8.13097C17.8062 9.06865 18.333 10.3404 18.333 11.6665V17.4998H14.9997V11.6665C14.9997 11.2245 14.8241 10.8006 14.5115 10.488C14.199 10.1754 13.775 9.99984 13.333 9.99984C12.891 9.99984 12.4671 10.1754 12.1545 10.488C11.8419 10.8006 11.6663 11.2245 11.6663 11.6665V17.4998H8.33301V11.6665C8.33301 10.3404 8.85979 9.06865 9.79747 8.13097C10.7352 7.19329 12.0069 6.6665 13.333 6.6665Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5.00033 7.5H1.66699V17.5H5.00033V7.5Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.33366 4.99984C4.25413 4.99984 5.00033 4.25365 5.00033 3.33317C5.00033 2.4127 4.25413 1.6665 3.33366 1.6665C2.41318 1.6665 1.66699 2.4127 1.66699 3.33317C1.66699 4.25365 2.41318 4.99984 3.33366 4.99984Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div class="navigation">
                <div class="link2">
                    <div class="home"> Home </div>
                </div>
                <div class="link3">
                    <div class="platform"> Platform </div>
                </div>
                <div class="link4">
                    <div class="solutions"> Solutions </div>
                </div>
                <div class="link5">
                    <div class="company"> Company </div>
                </div>
                <div class="link6">
                    <div class="contact-us"> Contact Us </div>
                </div>
                <div class="our-mission-is-to-democratize-computational-drug-d"> Our mission is to bring premium flooring solutions to every home and business, delivering quality, durability, and style. </div>
            </div>
        </div>
        <div class="floating-action-button-atom">
            <svg class="send" width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3951 6.42593C51.4526 3.75755 48.8063 1.11752 46.1315 2.17246L4.05426 18.7681C1.24888 19.8746 1.2957 23.8518 4.1264 24.8922L21.2957 31.2027L27.6212 48.3312C28.6641 51.1551 32.6508 51.2019 33.7599 48.4031L50.3951 6.42593ZM40.266 9.18556L8.33249 21.7804L22.4427 26.9665L40.266 9.18556ZM25.5411 30.0563L30.7404 44.1351L43.3673 12.2726L25.5411 30.0563Z" fill="white" />
            </svg>
        </div>
        <div class="container10">
            <div class="paragraph2">
                <div class="copyright-2025-trusted-flooring-all-rights-reserved"> Copyright 2025© Trusted Flooring, All Rights Reserved. </div>
            </div>
            <div class="container11">
                <div class="link7">
                    <div class="terms-conditions"> Terms &amp; Conditions </div>
                </div>
                <div class="link8">
                    <div class="privacy-policy"> Privacy Policy </div>
                </div>
            </div>
        </div>
    </div>
</div>