---
import '../styles/navbar.scss';
---
<div class="separador"></div>
<nav class="header-nav">

    <img class="header-nav__logo" src="/logo.png" alt="Logo de la Marca" />

    <div class="nav-links">
        <a href="#" class="nav-link">
            <span class="nav-link__text">Home</span>
            <span class="nav-link__icon"></span>
        </a>
        <a href="#" class="nav-link">
            <span class="nav-link__text">Service</span>
            <span class="nav-link__icon"></span>
        </a>
        <a href="#" class="nav-link">
            <span class="nav-link__text">Gallery</span>
            <span class="nav-link__icon"></span>
        </a>
        <a href="#" class="nav-link">
            <span class="nav-link__icon"></span>
        </a>
    </div>

    <div class="header-actions">
        <button class="cta-button">
            <span class="cta-button__text">Contact us</span>
        </button>
    </div>
</nav>