---
import "../styles/testimonials.scss";
---

<section class="testimonials-section">
  <h2 class="testimonials-title">Testimonials</h2>
  <p class="testimonials-subtitle">Floors Designed to Withstand Daily Use and Stay Impeccable for Years.</p>

  <div class="testimonials-panel">
    <div class="testimonials-tabs" role="tablist" aria-label="Clients">
      <button class="tab" role="tab" aria-selected="false">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_40_211)">
            <path d="M8.74984 17.0834L17.0832 8.75008C17.4726 8.36848 17.7825 7.91346 17.9949 7.41135C18.2074 6.90924 18.3182 6.36999 18.3209 5.82479C18.3237 5.27959 18.2183 4.73925 18.0109 4.23501C17.8036 3.73078 17.4983 3.27266 17.1128 2.88714C16.7273 2.50162 16.2691 2.19635 15.7649 1.98898C15.2607 1.78161 14.7203 1.67625 14.1751 1.67901C13.6299 1.68176 13.0907 1.79257 12.5886 2.00502C12.0865 2.21747 11.6314 2.52736 11.2498 2.91675L2.91651 11.2501C2.52711 11.6317 2.21723 12.0867 2.00478 12.5888C1.79232 13.0909 1.68152 13.6302 1.67876 14.1754C1.67601 14.7206 1.78136 15.2609 1.98873 15.7652C2.1961 16.2694 2.50137 16.7275 2.8869 17.113C3.27242 17.4986 3.73054 17.8038 4.23477 18.0112C4.739 18.2186 5.27934 18.3239 5.82454 18.3212C6.36975 18.3184 6.90899 18.2076 7.41111 17.9951C7.91322 17.7827 8.36823 17.4728 8.74984 17.0834Z" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M7.08301 7.08325L12.9163 12.9166" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_40_211">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span>Capsule</span>
      </button>
      <button class="tab tab--active" role="tab" aria-selected="true">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0003 18.3334C14.6027 18.3334 18.3337 14.6025 18.3337 10.0001C18.3337 5.39771 14.6027 1.66675 10.0003 1.66675C5.39795 1.66675 1.66699 5.39771 1.66699 10.0001C1.66699 14.6025 5.39795 18.3334 10.0003 18.3334Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10.0003 1.66675C7.86052 3.91354 6.66699 6.89736 6.66699 10.0001C6.66699 13.1028 7.86052 16.0866 10.0003 18.3334C12.1401 16.0866 13.3337 13.1028 13.3337 10.0001C13.3337 6.89736 12.1401 3.91354 10.0003 1.66675Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M1.66699 10H18.3337" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Spherule</span>
      </button>
      <button class="tab" role="tab" aria-selected="false">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.38701 10.4109L3.23701 11.5093C3.03711 11.5526 2.82817 11.5156 2.65538 11.4061C2.48259 11.2966 2.35984 11.1235 2.31368 10.9243L1.86618 9.13258C1.81357 8.91672 1.84345 8.68898 1.94996 8.49399C2.05647 8.299 2.23195 8.1508 2.44201 8.07842L13.6953 4.37842" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M11.2998 9.78904L14.9098 9.01904" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M13.3336 17.5L10.7461 12.325" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M13.7372 4.95001C13.6301 4.52125 13.6976 4.0675 13.925 3.68853C14.1524 3.30957 14.521 3.03643 14.9497 2.92918L15.858 2.70252C16.0723 2.64906 16.299 2.68285 16.4884 2.79644C16.6778 2.91003 16.8143 3.09415 16.868 3.30835L18.1305 8.35835C18.1842 8.57273 18.1506 8.79967 18.037 8.98923C17.9234 9.1788 17.7391 9.31547 17.5247 9.36918L16.6164 9.59585C16.1876 9.70297 15.7339 9.63542 15.3549 9.40804C14.9759 9.18066 14.7028 8.81208 14.5955 8.38335L13.7372 4.95001Z" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Galileo</span>
      </button>
      <button class="tab" role="tab" aria-selected="false">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_40_235)">
            <path d="M17.4999 9.99993C17.9599 9.99993 18.3374 9.62577 18.2915 9.16827C18.0994 7.25507 17.2516 5.46718 15.8918 4.1077C14.532 2.74822 12.7439 1.9008 10.8307 1.7091C10.3724 1.66327 9.99902 2.04077 9.99902 2.50077V9.16743C9.99902 9.38845 10.0868 9.60041 10.2431 9.75669C10.3994 9.91297 10.6113 10.0008 10.8324 10.0008L17.4999 9.99993Z" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M17.6747 13.2417C17.1445 14.4955 16.3153 15.6002 15.2596 16.4595C14.2038 17.3187 12.9537 17.9063 11.6184 18.1707C10.2831 18.4352 8.90337 18.3685 7.59981 17.9766C6.29624 17.5846 5.10854 16.8793 4.14053 15.9223C3.17253 14.9653 2.4537 13.7857 2.04688 12.4867C1.64006 11.1877 1.55765 9.8088 1.80685 8.47059C2.05605 7.13238 2.62926 5.87559 3.47639 4.81009C4.32351 3.74459 5.41875 2.90283 6.66635 2.3584" stroke="#6B6B6B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_40_235">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span>Segment</span>
      </button>
    </div>

    <div class="testimonials-grid">
      <article class="card">
        <div class="card-stars" aria-label="5 out of 5 stars">
          <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="#C35C3B" xmlns="http://www.w3.org/2000/svg"><path d="M9.604 1.912a.42.42 0 01.792 0l1.925 3.9a2.33 2.33 0 001.545 1.246l4.305.63a.42.42 0 01.233.713l-3.113 3.032a2.33 2.33 0 00-.449 1.565l.735 4.283a.42.42 0 01-.61.443l-3.848-2.023a2.33 2.33 0 00-2.444 0l-3.848 2.023a.42.42 0 01-.61-.443l.734-4.283a2.33 2.33 0 00-.448-1.565L1.8 8.162a.42.42 0 01.244-.713l4.304-.63A2.33 2.33 0 007.68 5.812l1.925-3.9z"/></svg>
          <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="#C35C3B" xmlns="http://www.w3.org/2000/svg"><path d="M9.604 1.912a.42.42 0 01.792 0l1.925 3.9a2.33 2.33 0 001.545 1.246l4.305.63a.42.42 0 01.233.713l-3.113 3.032a2.33 2.33 0 00-.449 1.565l.735 4.283a.42.42 0 01-.61.443l-3.848-2.023a2.33 2.33 0 00-2.444 0l-3.848 2.023a.42.42 0 01-.61-.443l.734-4.283a2.33 2.33 0 00-.448-1.565L1.8 8.162a.42.42 0 01.244-.713l4.304-.63A2.33 2.33 0 007.68 5.812l1.925-3.9z"/></svg>
          <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="#C35C3B" xmlns="http://www.w3.org/2000/svg"><path d="M9.604 1.912a.42.42 0 01.792 0l1.925 3.9a2.33 2.33 0 001.545 1.246l4.305.63a.42.42 0 01.233.713l-3.113 3.032a2.33 2.33 0 00-.449 1.565l.735 4.283a.42.42 0 01-.61.443l-3.848-2.023a2.33 2.33 0 00-2.444 0l-3.848 2.023a.42.42 0 01-.61-.443l.734-4.283a2.33 2.33 0 00-.448-1.565L1.8 8.162a.42.42 0 01.244-.713l4.304-.63A2.33 2.33 0 007.68 5.812l1.925-3.9z"/></svg>
          <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="#C35C3B" xmlns="http://www.w3.org/2000/svg"><path d="M9.604 1.912a.42.42 0 01.792 0l1.925 3.9a2.33 2.33 0 001.545 1.246l4.305.63a.42.42 0 01.233.713l-3.113 3.032a2.33 2.33 0 00-.449 1.565l.735 4.283a.42.42 0 01-.61.443l-3.848-2.023a2.33 2.33 0 00-2.444 0l-3.848 2.023a.42.42 0 01-.61-.443l.734-4.283a2.33 2.33 0 00-.448-1.565L1.8 8.162a.42.42 0 01.244-.713l4.304-.63A2.33 2.33 0 007.68 5.812l1.925-3.9z"/></svg>
          <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="#C35C3B" xmlns="http://www.w3.org/2000/svg"><path d="M9.604 1.912a.42.42 0 01.792 0l1.925 3.9a2.33 2.33 0 001.545 1.246l4.305.63a.42.42 0 01.233.713l-3.113 3.032a2.33 2.33 0 00-.449 1.565l.735 4.283a.42.42 0 01-.61.443l-3.848-2.023a2.33 2.33 0 00-2.444 0l-3.848 2.023a.42.42 0 01-.61-.443l.734-4.283a2.33 2.33 0 00-.448-1.565L1.8 8.162a.42.42 0 01.244-.713l4.304-.63A2.33 2.33 0 007.68 5.812l1.925-3.9z"/></svg>
        </div>
        <p class="card-quote">Trusted Flooring transformed our home. The installation was flawless, and the floors look stunning. We couldn’t be happier!</p>
        <div class="card-author">
          <img class="avatar" src="image-john-doe0.png" alt="John Doe" />
          <div>
            <p class="author-name">John Doe</p>
            <p class="author-role">Managing Director, Spherule</p>
          </div>
        </div>
      </article>

      <aside class="stats">
        <div class="stat">
          <div class="stat-value">
            <span>87%</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 7H22V13" stroke="#C35C3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M22 7L13.5 15.5L8.5 10.5L2 17" stroke="#C35C3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <p class="stat-label">Increase in customer satisfaction</p>
        </div>
        <div class="stat">
          <div class="stat-value">
            <span>38%</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 7H22V13" stroke="#142748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M22 7L13.5 15.5L8.5 10.5L2 17" stroke="#142748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <p class="stat-label">Increase in operational efficiency</p>
        </div>
      </aside>
    </div>

    <div class="testimonials-nav">
      <button class="testimonials-nav__btn" aria-label="Previous testimonial">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button class="testimonials-nav__btn" aria-label="Next testimonial">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 12H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 5L19 12L12 19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</section>