---
import '../styles/tailwind.css';
import '../styles/hero.scss';


---

<section class="hero">
    <div class="hero__container">
        
        <div class="hero__background">
              <h1 class="hero__mobile">  Elevate Your Space with <span>Premium Flooring</span> </h1>
            <div class="slideImage">
                             <p class="hero__mobile__subtitle"> Hassle-Free, Just Beautiful Floors That Fit Your Space Perfectly. </p>
                             <button class="btn-primary">Request Your Quote</button>

                <div class="degrado">
                    <div class="rectangle"></div>
                    <div class="leyenda"> Todas las im치genes son propiedad de Trusted Flooring y est치n protegidas por las leyes de derechos de autor. Queda prohibida su reproducci칩n o uso sin autorizaci칩n expresa. </div>
                </div>
            </div>
            
            <div class="hero__background__content-wrapper">
                
                <div class="hero__background__title"> Elevate Your Space with Premium Flooring </div>
                
                <div class="hero__background__sub-title">
                    <div class="no-filters-no-stress-just-products-that-vibe-wit"> Hassle-Free, Just Beautiful Floors That Fit Your Space Perfectly. </div>
                </div>
                
                <div class="button">
                    <div class="request-your-quote"> Request Your Quote </div>
                </div>
                
            </div>
            <img src="/degradado.svg" alt="degradado" class="degradado" />
            <div class="hero__background__leyenda"> Transform your space with expertly installed, premium flooring designed to last and elevate every corner of your home or office </div>
            
        </div>
    </div>
</section>